<div class="admin-container w-100 d-flex justify-content-center">
    <div class="table">
        <div class="table__head">
            <div class="table__tr">
                <div class="table__th">Name</div>
                <div class="table__th">Role</div>
                <div class="table__th">Profile</div>
                <div class="table__th">Email</div>
                <div class="table__th">Action</div>
            </div>
        </div>
        <div class="table__body">
            <%= render @users %>
        </div>
    </div>
    
</div>