<div class="h4 business-name">
    BusinessName
</div>

<div class="menu">
    <div class="menu-item active">
        <div class="icon">
            <i class="fa-solid fa-chart-line"></i>
        </div>
        <a href="#">Dashboard</a>
    </div>
    <div class="menu-item">
        <div class="icon">
            <i class="fa-solid fa-cart-plus"></i>
        </div>
        <a href="#" >Cart</a>
    </div>
    <div class="menu-item">
        <div class="icon">
            <i class="fa-solid fa-boxes-stacked"></i>
        </div>
        <a href="#" >Inventory</a>
    </div>
    <div class="menu-item">
        <div class="icon">
            <i class="fa-solid fa-dollar-sign"></i>
        </div>
        <a href="#">Invoice</a>
    </div>
    <div class="menu-item">
        <div class="icon">
            <i class="fa-solid fa-circle-dollar-to-slot"></i>
        </div>
        <a href="#">Sales</a>
    </div>
    <div class="menu-item">
        <div class="icon">
            <i class="fa-solid fa-people-group"></i>
        </div>
        <a href="#">Customers</a>
    </div>
</div>